{% extends 'admin/Base.html' %}

{% block style %}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #0047AB !important;
}
.btn-primary:hover {
    color: #fff;
}
.table{
	font-size: 13px;
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}
.table tr:nth-child(odd){
	background: #B8CAE4
}

.table tr:nth-child(even){
	background: #dae5f4
}

th {
  background-color: #337ab7;
  color: white;
}

.display_table{
	border-bottom-right-radius: 20px;
	padding-left: 5px;
	padding-bottom: 20px;
	box-shadow: 12px 12px 20px 6px #2e6da4;
}

.header {
    font-family: helvetica;
    color: #337ab7;
    font-size: 50px;
    text-align: center;
    width: 100%;
    text-shadow: 6px 6px 6px #c9c6c6;
    display: block;
    font-weight: bolder;
}

.btn-primary:hover{
    background-color:#081D45 !important;
}

{% endblock style %}

{% block body%}
  <div class="d-grid gap-3 d-md-flex justify-content-md-end">
  <a class="btn btn-primary btn-rounded btn-primary:hover rounded-5" href="#" role="button">Add</a>
  <button class="btn btn-primary btn-primary:hover rounded-pill" type="button">Remove</button>
  <button class="btn btn-primary btn-primary:hover rounded-pill" type="button">Edit</button></a> 
  </div>
  <div class="text-center">
    <h5 class="header">Users info </h5>

    <div class="display_table">
     <table class='table'>
        <thead>
          <tr>
            <th width="40%">COUNT</th>
            <th >USERNAME</th> 
            <th >PHONE_NO</th>
            <th >EMAIL_ID</th>
          </tr>
        </thead>
      {% for instance in userlist %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.username}}</td>
            <td>{{instance.phone_no}}</td>
            <td>{{instance.email_id}}</td>
          </tr>
      {% endfor %}
    </table>
  </div>
</div>
  
{%endblock body%}

